{
  "extends": [
    "react-app"
  ],
  "rules": {
    "max-len": ["error", {"code": 150}],
    "quotes": ["error", "single"],
    "semi": "error",
    "camelcase": "error",
    "curly": ["error", "all"],
    "prefer-const": "error",
    "no-const-assign": "error",
    "indent": ["error", 4],
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-prototype-builtins": "error",
    "spaced-comment": "warn",
    "no-useless-escape": "error",
    "wrap-iife": "error",
    "no-loop-func": "error",
    "prefer-rest-params": "error",
    "default-param-last": "error",
    "space-before-function-paren": "error",
    "space-before-blocks": "error",
    "prefer-spread": "error",
    "function-paren-newline": "error",
    "arrow-spacing": "error",
    "implicit-arrow-linebreak": "error",
    "no-duplicate-imports": "error",
    "no-iterator": "error",
    "dot-notation": "error",
    "no-multi-assign": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-mixed-operators": "error",
    "no-else-return": "error",
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "space-in-parens": "error",
    "array-bracket-spacing": "error",
    "comma-spacing": "error",
    "computed-property-spacing": "error",
    "key-spacing": "error",
    "no-trailing-spaces": "error",
    "no-restricted-globals": "error"
  }
}